/* Theme CSS declarations for the Profile component */
:root {
  --profile-header-colour: #ffccac;
}

[data-theme = "default"] {
  --profile-header-colour: #919191;
}

[data-theme = "dark"] {
  --profile-header-colour: dimgrey;
}

/* CSS positioning of the profile header */
.profileHeader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7em;
  max-width: 40em;
}

/* sizes and styling for the users avatar within the profile header */
.userAvatar {
  min-width: 8em;
  min-height: 8em;
  margin-top: 1em;
  border: 0.20em solid var(--profile-header-colour) !important;
}

/* overrides the MUI avatar component to stop dragging of the avatar */
.MuiAvatar-img {
  -webkit-user-drag: none;
}

/* username styling, includes dynamic theme changing of text */
.userName {
  font-size: 4em;
  text-shadow: 0 2px 2px black;
  color: var(--profile-header-colour) !important;
}

/* profile bio styles */
.bio {
  word-break: break-word;
  overflow: auto;
  font-size: 2.15em;
  margin-left: 0.15em;
}

/* sizes and positions the header separator */
.headerSeparator {
  border: 0.25em solid var(--profile-header-colour) !important;
  border-radius: 0.25em;
  margin-top: 0.5em;
}

/* comment modal when selected will show up in the center of the current screen view */
.bioModal {
  max-width: 20em;
  max-height: 15em;
  margin: 22em auto auto !important;
  /* Changes the TextField background to pure white */
  .MuiInputBase-root {
    background-color: #FFF;
  }
}

//.notFriend {
//  color: chartreuse;
//}

/* CSS for the loading icon when loading/reloading the feed */
.loadingIcon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* mobile styles for the profile component at 800px width */
@media (max-width: 800px) {

  /* resizing & tweaking the profile header for when in mobile view */
  .profileHeader {
    max-width: 28em;
    margin-top: 7rem;
  }

  /* resizes the user avatar to be a bit smaller */
  .userAvatar {
    min-width: 6.5em;
    min-height: 6.5em;
  }

  /* resizes the bio text to have a smaller font size */
  .bio {
    font-size: 1.85em;
  }

  /* resizes the username displayed text to be smaller */
  .userName {
    font-size: 4em;
  }
}

