
/* Theme declarations for the Comment component */
:root {
  --comment-background: #fff;
}

[data-theme = "default"] {
  --comment-background: #fff;
}

[data-theme = "dark"] {
  --comment-background: #d4d4d4;
}

/* CSS Specifications for the comment box container */
.commentBox {
  margin-block-end: 1em;
  word-break: break-word;
  overflow: auto;
  padding: 0.625em;
  max-width: 27.5%;
  height: 18.75em;
  border: 0.125em solid lightgrey;
  background-color: var(--comment-background) !important;
  border-radius: 0.75em;
}

/* changes the TextField outline to black when focused on */
.MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

/* CSS Specifications for the comment box container within mobile view */
@media (max-width: 800px) {

  .commentBox {
    max-width: 13em;
    margin-left: auto;
    margin-right: auto;
  }

}
