
/* CSS Specifications for the comment box container */
.commentBox {
  margin-block-end: 1rem;
  word-break: break-word;
  overflow: auto;
  padding: 0.625rem;
  min-width: 12rem;
  max-width: 14rem;
  height: 18.75rem;
  border: 0.125rem solid lightgrey;
  background-color: #FFF;
  border-radius: 0.75rem;
}
