/* determines the initial theme state */
:root {
    --theme-header: #ffccac;
    --theme-icons: #42342c;
}

/* sets the theme whenever the data-theme is toggled back to default */
[data-theme = "default"] {
    --theme-header: #ffccac;
    --theme-icons: #42342c;
}

/* sets the theme when the data-theme is toggled to dark mode */
[data-theme = "dark"] {
    --theme-header: #1c1c1c;
    --theme-icons: #fff;
}

.DrawDojo__logo {
    max-width:12%;
    min-width: 10%;
    padding: 5px;
    margin-left: 25%;
}

.DrawDojo__icon {
    display: none;
}

.DrawDojo__icons {
    color: var(--theme-icons) !important;
}

/* the main appBar component provided by MUI, this is overridden to use our own style */
.MuiAppBar-root {
    background-color: var(--theme-header) !important;
}

/* mobile styles, functional for most mobile sizes, some resizing issues still occur at certain resolutions */
@media (max-width: 800px) {
    .DrawDojo__logo {
        display: none;
    }

    .DrawDojo__icon {
        display: block;
        margin-left: 10%;
        max-width: 10%;
        min-width: 6%;
        padding: 5px;
    }
}