:root {
    --theme-icon: #42342c;
}

[data-theme = "default"] {
    --theme-icon: #42342c;
}

[data-theme = "dark"] {
    --theme-icon: #1c1c1c;
}

.registerIcon {
    background-color: var(--theme-icon) !important;
}

.registerButton {
    background-color: var(--theme-icon) !important;
}

.registerContainer {
    margin-top: 10rem;
}
