:root {
    --theme-icon: #42342c;
}

[data-theme = "default"] {
    --theme-icon: #42342c;
}

[data-theme = "dark"] {
    --theme-icon: #1c1c1c;
}

.Mui-focused {
    color: var(--theme-icon) !important;

    .MuiOutlinedInput-notchedOutline {
        border-color: var(--theme-icon) !important;
    }
}

.MuiOutlinedInput-notchedOutline {
    background-color: white !important;
}

.registerIcon {
    background-color: var(--theme-icon) !important;
}

.registerButton {
    background-color: var(--theme-icon) !important;
}

.registerContainer {
    margin-top: 10rem;
}
