/* Theme CSS declarations for the Post component */
:root {
  --post-background: #f7f7f7;
  --header-text-col: #000;
  --icon-col: #42342c;
}

[data-theme = "default"] {
  --post-background: #f7f7f7;
  --header-text-col: #000;
  --icon-col: #42342c;
}

[data-theme = "dark"] {
  --post-background: #1c1c1c;
  --header-text-col: #fff;
  --icon-col: #fff;
}

/* desktop CSS specifications */

/* Container for Square Sized posts (464 x 480) */
.squareContainer {
  margin-left: auto;
  margin-right: auto;
  margin-block-end: 1rem;
  min-height: 29em;
  max-height: 29em;
  max-width: 43rem;
  border-radius: 0.75rem;
  padding: 0.625rem;
  background-color: var(--post-background) !important;
}

/* CSS for Square Sized post content within the Square container */
.squarePostContent {
  display: flex;
  min-height: 29em;
  max-height: 29em;
  max-width: 29em;
  border-radius: 0.75rem;
}

/* CSS for the Header of the post (avatar, username & caption) */
.postHeader {
  display: flex;
  margin-left: 29.5em;
  margin-top: -29.25rem;
  word-break: break-word;
  overflow: auto;
}

/* displays the author of the post (desktop) */
.postAuthor {
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: var(--header-text-col) !important;
}

/* displays the desktop caption version within the desktop view */
.postCaptionDesktop {
  display: block;
  color: var(--header-text-col) !important;
}

/* hides the mobile caption version within the desktop view */
.postCaptionMobile {
  display: none;
}

/* Post interaction CSS (like button, comment button & edit/mashup button) */
.desktopPostInteraction {
  display: flex;
  margin-left: 29.8em;
  margin-top: 1rem;
}

/* chatBubble CSS to change its color and size (desktop) */
.staticButtons {
  font-size: 1.875rem !important;
  color: var(--icon-col) !important;
}

/* comment section for desktop CSS specs */
.desktopComment {
  display: flex;
  margin-top: -20.25rem;
  justify-content: flex-end;
}

/* hides mobile comment components when in desktop view */
.mobileComment {
  display: none;
}

/* hides the modal in desktop view if its been opened in mobile view before being resized */
.commentModal {
  display: none;
}

/* CSS color for the like button having not been clicked */
.noLike * {
  color: #858585;
}

/* CSS color for the like button after being clicked */
.like * {
  color: var(--icon-col) !important;
}

/* hides mobile post interaction elements in desktop view */
.mobilePostInteraction {
  display: none;
}

/* mobile styles for the main component at 800px width */
@media (max-width: 800px) {

  /* Resizing & tweaking square container for when in mobile view */
  .squareContainer {
    justify-content: center;
    min-height: 6em;
    max-width: 29em;
    margin-top: 6.5rem;
  }

  /* When in mobile view the post should be centered on the screen */
  .squarePostContent {
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-height: 50%;
    height: 100%;
  }

  /* hides desktop interaction buttons */
  .desktopPostInteraction {
    display: none;
  }

  /* CSS for the Header of the post (avatar, username & caption) */
  .postHeader {
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    word-break: break-word;
    overflow: auto;
  }

  /* postAuthor will now have black text within mobile view */
  .postAuthor {
    color: #000 !important;
  }

  /* liked button color changed within mobile view due to different backdrop */
  .like * {
    color: #42342c !important;
  }

  /* hides the desktop caption version in mobile view */
  .postCaptionDesktop {
    display: none
  }

  /* mobile version of the caption can now be shown */
  .postCaptionMobile {
    display: block;
  }

  /* hides desktop comment section within mobile view */
  .desktopComment {
    display: none
  }

  /* Post interaction CSS (like button, comment button & edit/mashup button) */
  .mobilePostInteraction {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem;
  }

  /* comment modal when selected will show up in the center of the current screen view */
  .commentModal {
    display: flex;
    margin-top: 10rem;
  }
}

/* mobile styles for the main component at 600px width */
@media (max-width: 600px) {

  /* changes square containers margin from the top to 5rem */
  .squareContainer {
    margin-top: 5rem;
  }

  /* changes post interaction margin from the top to 5rem */
  .mobilePostInteraction {
    margin-top: 5rem;
  }
}

/* mobile styles for the main component at 450px width */
@media (max-width: 450px) {

  /* changes square containers margin from the top to 4.5rem */
  .squareContainer {
    margin-top: 4.5rem;
  }

  /* changes post interaction margin from the top to 0.5rem */
  .mobilePostInteraction {
    margin-top: 0.5rem;
  }
}
