/* Theme CSS declarations for the Post component */
:root {
  --post-background: #f7f7f7;
  --header-text-col: #000;
  --icon-col: #42342c;
}

[data-theme = "default"] {
  --post-background: #f7f7f7;
  --header-text-col: #000;
  --icon-col: #42342c;
}

[data-theme = "dark"] {
  --post-background: #1c1c1c;
  --header-text-col: #fff;
  --icon-col: #fff;
}

/* desktop CSS specifications */

/* General Container Sizing */
.SquareContainer, .PortraitContainer, .RectangleContainer {
  margin-left: auto;
  margin-right: auto;
  margin-block-end: -3em;
  min-height: 29em;
  max-height: 29em;
  padding: 0.625em;
  background-color: var(--post-background) !important;
  margin-top: 5em;
}

/* Container width for Square Sized posts (688 x 464) */
.SquareContainer {
  max-width: 43em;
}

/* Container width for Portrait Sized posts (560 x 464) */
.PortraitContainer {
  max-width: 35em;
}

/* Container width for Rectangle Sized posts (736 x 464) */
.RectangleContainer {
  max-width: 46em;
}

/* Changes the TextField background to pure white */
.MuiInputBase-root {
  background-color: #FFF;
}

/* stops user avatars from being draggable */
.MuiAvatar-img {
  -webkit-user-drag: none;
}

.SquarePostContent, .PortraitPostContent, .RectanglePostContent {
  display: flex;
  min-height: 29em;
  max-height: 29em;
  border-radius: 0.75em;

}

/* CSS for Square Sized post content within the Square container (464 x 464) */
.SquarePostContent {
  min-width: 29em;
  max-width: 29em !important;
}

/* CSS for Portrait Sized post content within the Portrait container (340 x 464) */
.PortraitPostContent {
  min-width: 21.25em;
  max-width: 21.25em !important;
}

/* CSS for Portrait Sized post content within the Rectangle container (520 x 464) */
.RectanglePostContent {
  min-width: 32.5em;
  max-width: 32.5em !important;
}

/* CSS for the Header of a Square sized post (avatar, username & caption) */
.SquarePostHeader {
  margin-left: 29.8em;
  margin-top: -30em;
}

/* CSS for the Header of a Portrait sized post (avatar, username & caption) */
.PortraitPostHeader {
  margin-left: 22em;
  margin-top: -30em;
}

/* CSS for the Header of a Rectangle sized post (avatar, username & caption) */
.RectanglePostHeader {
  margin-left: 33em;
  margin-top: -30em;
}

/* displays the author of the post (desktop) */
.postAuthor {
  font-weight: bold;
  margin: 0;
  color: var(--header-text-col) !important;
}

/* displays the desktop caption version within the desktop view */
.postCaptionDesktop {
  color: var(--header-text-col) !important;
}

/* Square Post interaction CSS (like button, comment button & edit/mashup button) */
.SquareDesktopPostInteraction {
  margin-left: 29.8em;
  margin-top: 1em;
}

/* Portrait Post interaction CSS (like button, comment button & edit/mashup button) */
.PortraitDesktopPostInteraction {
  margin-left: 22em;
  margin-top: 1em;
}

/* Rectangle Post interaction CSS (like button, comment button & edit/mashup button) */
.RectangleDesktopPostInteraction {
  margin-left: 33em;
  margin-top: 1em;
}

/* static button CSS to change their colors and sizes (desktop) */
.staticButtons {
  font-size: 1.875rem !important;
  color: var(--icon-col) !important;
}

/* comment section for desktop CSS specs */
.SquareDesktopComment, .PortraitDesktopComment, .RectangleDesktopComment {
  display: flex;
  margin-top: -20.25em;
  justify-content: flex-end;
}

/* comment section for Portrait container CSS */
.PortraitDesktopComment {
  margin-left: -7em;
}

/* comment section for Rectangle container CSS */
.RectangleDesktopComment {
  margin-left: 6em;
}

/* CSS color for the like button having not been clicked */
.noLike * {
  color: #858585;
}

/* CSS color for the like button after being clicked */
.like * {
  color: var(--icon-col) !important;
}

/* hides mobile component versions while in desktop view */
.postCaptionMobile, .mobileComment, .mobilePostInteraction {
  display: none;
}

/* hides the modal in desktop view if its been opened in mobile view before being resized */
.commentModal {
  display: none;
}

/* mobile styles for the main component at 800px width */
@media (max-width: 800px) {

  /* css for all containers to follow when in mobile view */
  .SquareContainer, .PortraitContainer, .RectangleContainer {
    min-height: 6em;
    margin-top: 7rem;
    max-height: fit-content
  }

  /* Resizing & tweaking Square container for when in mobile view */
  .SquareContainer {
    max-width: 29em;
  }

  /* Resizing & tweaking Portrait container width for when in mobile view */
  .PortraitContainer {
    max-width: 21.25em;
  }

  /* Resizing & tweaking Rectangle container width for when in mobile view */
  .RectangleContainer {
    max-width: 32.5em;
  }

  /* When in mobile view the post content should be centered on the screen */
  .SquarePostContent, .PortraitPostContent, .RectanglePostContent {
    min-width: 100% !important;
    max-width: 100% !important;
    min-height: 50%;
  }


  /* CSS for the Header of a post (avatar, username & caption) */
  .SquarePostHeader, .PortraitPostHeader, .RectanglePostHeader {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.75em;
  }

  /* postAuthor will now have white text within mobile view */
  .postAuthor {
    color: var(--header-text-col) !important;
  }

  /* liked button color changed within mobile view due to different backdrop */
  .like * {
    color: #42342c !important;
  }

  /* mobile version of the caption can now be shown */
  .postCaptionMobile {
    display: block;
    color: var(--header-text-col) !important;
  }

  /* Post interaction CSS (like button, comment button & edit/mashup button) */
  .mobilePostInteraction {
    display: flex;
    margin-top: 4em;
    margin-block-end: -5em;
  }

  /* comment modal when selected will show up in the center of the current screen view */
  .commentModal {
    display: flex;
    margin-top: 10em;

    /* Changes the TextField background to pure white */
    .MuiInputBase-root {
      background-color: #FFF;
    }
  }

  /* hides desktop components while in mobile view */
  .postCaptionDesktop, .SquareDesktopPostInteraction, .PortraitDesktopPostInteraction, .RectangleDesktopPostInteraction,
  .SquareDesktopComment, .PortraitDesktopComment, .RectangleDesktopComment {
    display: none
  }

}

/* mobile styles for the main component at 450px width */
@media (max-width: 450px) {

  /* changes post interaction margin from the top to 0.5em */
  .mobilePostInteraction {
    margin-top: 3em;
    margin-block-end: -3em;
  }

}
